body{
  background-color: #6699FF;
  font-style: roboto;
  font-size: large;
}

h1, h2 {
  text-align: center;
}

.review-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.review-input textarea{
  width: 100%;
  margin: 20px 0px;
  height: 10em;
  border-radius: 5px;
}

.review-input button{
  height: 2.5em;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
}

.result{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellow;
  width: 80%;
  margin: 20px auto;
}
